{
    "env": {
        "browser": true,
        "commonjs": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "no-underscore-dangle": "off",
        "eslint-disable-next-line": "no-console"
    }
}
